# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Python virtual environments
env/
venv/
*.env

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Other 
ignoreme.txt

# Media
**/media/
**/Media/

# Keras models
**.keras

# Datasets
aircraft_damage_dataset_v1/
*aircraft_damage_dataset_v1.tar