# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Python virtual environments
env/
venv/
*.env

# Temporary files
*.tmp
*.swp

# Other 
ignoreme.txt

# Media
**/media/
**/Media/

# saved models
**.keras
**model.png
**.pth

# Datasets and logs
aircraft_damage_dataset_v1/
**aircraft_damage_dataset_v1.tar
**sample.jpg
sample_images/
sample_data/
**.csv
my_dir/
*.log
tuner_results/
tuning_results/
fruits-360-original-size/
o-vs-r-split/
img/
**img.tar.gz
data/

# screenshots
Final_Project_Screenshots/